html {
  position: relative;
  background: url("../images/background.png") repeat-x;
  font-family: 'Roboto', sans-serif;
  text-align: center;
}

body{
	font-family: "Microsoft YaHei","宋体","Segoe UI", "Lucida Grande", Helvetica, Arial,sans-serif, FreeSans, Arimo;
}
a{color: #2fa0ec;text-decoration: none;outline: none;}
a:hover,a:focus{color:#74777b;
  width: 1200px;
  height: 1000px;
  overflow: scroll;

}

.htmleaf-container{
	background-color: white;
	width: 80%;
    margin:2% auto;
    text-align:center;

}
.htmleaf-container2{
	background-color: #e2e2e2;
	width: 80%;
	height: 1080px;
	margin:5% auto;
	text-align: center;
	overflow: hidden;
}
.htmleaf-content {
	font-size: 150%;
	padding: 1em 0;
}

.htmleaf-content h2 {
	margin: 0 0 2em;
	opacity: 0.1;
}

.htmleaf-content p {
	margin: 1em 0;
	padding: 5em 0 0 0;
	font-size: 0.65em;
}



/* Header */
.htmleaf-header{
	background-color: #384368;
	height: 130px;
	padding: 1.5em 10em 1em;
	letter-spacing: -1px;
	text-align: left;
}

.htmleaf-header h1 {
	color: #fff;
	font-weight: 100;
	font-size: 1.5em;
	line-height: 1.5;
	margin-bottom: 0;
	font-family: "Microsoft YaHei","宋体","Segoe UI", "Lucida Grande", Helvetica, Arial,sans-serif, FreeSans, Arimo;
}
.htmleaf-header h1 span {
	font-family: "Microsoft YaHei","宋体","Segoe UI", "Lucida Grande", Helvetica, Arial,sans-serif, FreeSans, Arimo;
	display: block;
	font-size: 60%;
	font-weight: 400;
	padding: 0.8em 0 0.5em 0;
	color: #fff;
}

.gong {
float: right;
color: #fff;
margin-right:40px;
margin-top: 50px;

}
.loadon{
float: right;
color: #fff;
font-size: 20px;
background-color: #5a6899;
width: 130px;
height: 130px;
margin-right:40px;
margin-top: 0;
line-height: 130px;

}
.outline{
float: right;
color: #fff;
font-size: 20px;
background-color: #4f5c89;
width: 130px;
height: 130px;
margin-right:0;
margin-top: 0;
line-height: 130px;

}
.online{
float: right;
color: #fff;
font-size: 20px;
background-color: #45517b;
width: 130px;
height: 130px;
margin-right:0;
margin-top: 0;
line-height: 130px;

}
