body {
	FONT-SIZE: 12px;
	margin-left: 4px;
	margin-top: 0px;
	margin-right: 0px;
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; SCROLLBAR-FACE-COLOR: #59D6FF; PADDING-BOTTOM: 0px; SCROLLBAR-HIGHLIGHT-COLOR: #ffffff; SCROLLBAR-SHADOW-COLOR: #ffffff; SCROLLBAR-3DLIGHT-COLOR: #007BC6; SCROLLBAR-DARKSHADOW-COLOR: #007BC6; SCROLLBAR-ARROW-COLOR: #007BC6; PADDING-TOP: 0px; SCROLLBAR-TRACK-COLOR: #009ED2;
}
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, button, textarea, p, blockquote, th, td {
	margin: 0;
	padding: 0;
}
ol, ul {
	list-style: none;
}

.container{
	width:960px;
	margin:0 auto;
}
.table{
	border: 1px solid #CAF2FF;/*?߿???ɫ*/
	margin-top: 5px;
	margin-bottom: 5px;
	background:#B8D3F1;
}
.td_bg {
	background:#ffffff;
}

.btn{
	background-color:#EAEAEA;
	border-top:2px solid #FEFEFE;
border-right:1px solid #BCBCBCborder-bottom:1px solid #BCBCBC;	border-left:2px solid #FEFEFE;
	height:29px;
	cursor:hand;
	font-size: 14px;
}
.ACT_btn {
	background: url(../act_btn.gif) no-repeat;
	height:26px;
	width:94px;
	cursor:hand;
	border:solid 0px #111;
	font-size: 12px;
}
.bg_tr {
	color:#1E5494;
	font-size:12px;
	font-weight:bolder;
	background:#E4F1FA;

    line-height: 22px;
}td {
	color:#1E5494;
	font-size:12px;
    line-height: 18px;
}
.tdbg1 {
	background:#F9F9F9;
}
.tdbg {
	BACKGROUND: #ffffff;
}

.subbg{ width:100%; height:26px; background-repeat:repeat-x;}
.topbar {color:#ffffff}
#table2 {
	width:100%;
	height:30px;
	border-bottom : 1px solid #fff;
	background-color: #6E4000;
}
.topBorder {background:url(Images/admin_topbg1.jpg);background-repeat:repeat-x; }
/*
.titledaohang {
	FONT-SIZE: 12px; 
	FILTER: Glow(Color=#EDD2C6, Strength=1) dropshadow(Color=#EDD2C6, OffX=1, OffY=1,); 
	COLOR: #551C02; 
	font-weight:bolder;
	FONT-FAMILY: '΢???ź?,????'
}
*/
.Leftback {
	background:#865802;
}

.main_title ul.fx li.on {
	border-left-color: transparent;
	border-right-color: transparent;
	border-bottom-width: 0;
}
.main_title ul.fx li, .main_title ul.fx li.on {
	border-top: 0;
	margin-top: 3px;
	padding-top: 0;
}

.main_title ul.fx li {
	cursor: pointer;
	background-color: transparent;
}

.main_title ul.fx li.on {
	height: 22px;
	cursor: pointer;
	line-height: 22px;
	padding-left: 16px;
	padding-right: 16px;
	background: white;
	border-top: #009AD9 4px solid;
	border-left: #009AD9 1px solid;
	border-right: #009AD9 1px solid;
	border-bottom: white 1px solid;
}
.main_title ul li {
	height: 23px;
	line-height: 23px;
	padding-left: 16px;
	padding-right: 16px;
	padding-top: 1px;
	border-top: white 3px solid;
	border-left: white 1px solid;
	border-right: white 1px solid;
	float: left;
}

.leftframetable{
	margin-top: 3px;
	margin-bottom: 3px;
}
a{text-decoration: none;} 
a:link {color: #1E5494;} 
a:visited {color: #1E5494;} 
a:hover {color: #1E5494;}  
a:active {color: #1E5494;} 

#dataSaveLog li{
	margin:2px 5px;
	border-bottom:1px dashed #ccc;
}

.top{width:100%; height:59px; overflow:hidden; background:#03A8F6;}
.main{width:100%;}
.main .left{width:176px; height:100%; float:left; background:"#16ACFF"}
.main .right{margin-left:176px}

.noresult{margin:10px 10px}

