{include file='../public/header.html'}
{literal}
<script language="javascript">
<!--
	function checkEmpty(lables,message){
		if($.trim($(lables).val())==''){
			errorMsg(message+"不能为空");
			$(lables).focus();
			return false;
		}
		return true;
	}
-->
</script>
{/literal}
<form method="POST" action="{spurl r='admin/user/project'}">
<table class="table" cellspacing="1" cellpadding="2" width="99%" align="center" 
border="0">
  <tbody>
    <tr>
      <th class="bg_tr" align="left" colspan="2" height="25"> <a href="{spurl r='admin/user/index'}">返回用户列表</a> &gt;&gt; 项目管理</th>
    </tr>
	{foreach $projects as $project}
    <tr>
      <td class="td_bg" width="17%" height="23">{$project.name}：全选<input type="checkbox" value="{$project.id}" class="pid"> <span class="TableRow2"></span></td>
      <td width="83%" class="td_bg" id="{$project.id}">
		 {html_checkboxes name=cids options=$project.son selected=$cids separator="&nbsp;"} 
	 </td>
    </tr>
	{/foreach}
    <tr>
      <td colspan="2" class="td_bg" height="23">
		<input type="hidden" name="uid" value="{$uid}" />
		<input type="submit" value="提交" />
		<input type="reset" value="重置" />
	<span class="TableRow2"></span></td>
    </tr>
  </tbody>
</table>
</form>
<script language="javascript">
	$(".pid").bind('click', function(){
		 _val = $(this).attr('value')
		 if( true == $(this).attr('checked')){
		 	$("#"+_val).find('input').attr('checked', true);
		 }else $("#"+_val).find('input').attr('checked', false); ;
	});
</script>
{include file='../public/footer.html'}
